# =========================
# C++ build artifacts
# =========================
build/
*.o
*.a
*.dylib
*.so

# =========================
# Python
# =========================
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/
*.egg-info/
dist/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Editor
# =========================
.vscode/
build-release/
